@model TrashCollector.Models.Suspensions

@{
    ViewBag.Title = "CancelSuspension";
}

<h2 class="text-light textGeogia">Cancel Suspension</h2>

<h3 class="text-light">Are you sure you want to cancel this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt class="text-light bg-dark rounded col-md-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd class="text-light">
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt class="text-light bg-dark rounded col-md-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd class="text-light">
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-light btn-lg bg-danger text-light CustomerButton" /> |
            @Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>
