@model TrashCollector.Models.PickUpRequests

@{
    ViewBag.Title = "ConfirmPickUpRequest";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2 class="text-light">Confirm PickUp</h2>

    <h3 class="text-light">Are you sure you want to create this special pickup?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt class="text-light bg-dark rounded col-md-1">
                @Html.DisplayNameFor(model => model.Place)
            </dt>

            <dd class="text-light" >
                @Html.DisplayFor(model => model.Place)
            </dd>

            <dt class="text-light bg-dark rounded col-md-1">
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd class="text-light">
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt class="text-light bg-dark rounded col-md-1">
                @Html.DisplayNameFor(model => model.Time)
            </dt>

            <dd class="text-light">
                @Html.DisplayFor(model => model.Time)
            </dd>

            <dt class="text-light bg-dark rounded col-md-1">
                @Html.DisplayNameFor(model => model.Fee)
            </dt>

            <dd class="text-light"> 
                $ @Html.DisplayFor(model => model.Fee)
            </dd>

            <dt class="text-light bg-dark rounded col-md-2">
                @Html.DisplayNameFor(model => model.notes)
            </dt>

            <dd class="text-light">
                @Html.DisplayFor(model => model.notes)
            </dd>

        </dl>



        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn btn-outline-light btn-lg bg-danger text-light CustomerButton" /> |
            @Html.ActionLink("Cancel", "Index")
        </div>
        
    </div>
}
