@model TrashCollector.Models.CustomerAndAccountViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container mt-3 mb-3">
    <h2>
        Welcome @Html.DisplayFor(model => model.cust.FirstName)
        @Html.DisplayFor(model => model.cust.LastName)
    </h2>
</div>
<div class="container">
    <div class="text-center">
        <h2>
                Account Summary
        </h2>
        <br />
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3 border-right border-left ml-auto">
            <label class="font-weight-bold">
                Address:
            </label>
            <p>
                @Model.cust.Street,  @Model.cust.State,  @Model.cust.Zip<br />
            </p>
            <label class="font-weight-bold">
                Pick Up Day:
            </label>
            <p>
                @Model.account.WeeklyPickUpDay
            </p>
            <label class="font-weight-bold">
                Current Bill:
            </label>
            <p>
                $ @Model.account.MoneyOwed
            </p>
        </div>
        <div class="col-md-3">
            <label class="font-weight-bold text-center">
                Scheduled Special Pickups
            </label>
            <p>
                <ul class="mr-auto">
                    @if (Model.pickups.Count > 0)
                    {

                        foreach (var item in Model.pickups)
                        {
                            if (item.CustomerId == Model.cust.ID)
                            {
                                <li>
                                    Date: @item.Date.ToShortDateString()<br />
                                    Time: @item.Time<br />
                                    Description: @item.notes<br />
                                    @Html.ActionLink("Delete", "DeletePickup", new {  id = item.PickUpId})
                                </li>
                                
                               
                            }
                        }
                    }
                    else
                    {
                        <li>
                            No Pickups Scheduled
                        </li>
                    }
                </ul>
            </p>
        </div>
        <div class="col-md-3 text-center border-right border-left mr-auto">
            <label class="font-weight-bold">
                Scheduled Suspensions
            </label>
            <p>
                <ul class="ml-auto mr-auto">
                    @if (Model.pickups.Count > 0)
                    {

                        foreach (var item in Model.suspensions)
                        {
                            if (item.CustomerId == Model.cust.ID)
                            {
                                <li>
                                    Start Date: @item.StartDate.ToString()<br />
                                    End Date: @item.EndDate.ToString()
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li>
                            No Suspensions Scheduled
                        </li>
                    }
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 ml-auto text-center">
            <input type="button" class=" btn btn-outline-primary btn-lg ml-auto" value="Edit Profile" onclick="location.href='@Url.Action("EditProfile", "Customers")'" />
        </div>
        <div class="col-md-3 text-center">
            <input type="button" class="btn btn-outline-primary btn-lg" value="Add Pickup" onclick="location.href='@Url.Action("CreateSpecialPickup", "Customers")'" />
        </div>
        <div class="col-md-3 mr-auto text-center">
            <input type="button" class="btn btn-outline-primary btn-lg" value="Suspend Service" onclick="location.href=@Url.Action("Create", "Customers")" />
        </div>
    </div>
</div>

