@model TrashCollector.Models.CustomerAccountDetails

@{
    ViewBag.Title = "Initial";
}

<h2>Inital</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerAccountDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.WeeklyPickUpDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label>Monday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "monday")<br />
                <label>Tuesday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "tuesday")<br />
                <label>Wednesday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "wednesday")<br />
                <label>Thursday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "thursday")<br />
                <label>Friday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "friday")<br />
                <label>Saturday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "saturday")<br />
                <label>Sunday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "sunday")
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
