@model TrashCollector.Models.CustomerAccountDetails

@{
    ViewBag.Title = "Initial";
}

<h2 class="text-light textGeogia">Inital Setup</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="text-light">Customer Account Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.WeeklyPickUpDay, htmlAttributes: new { @class = "control-label col-md-2 bg-dark text-light rounded" })
            <div class="col-md-10">
                <label class="text-light">Monday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "Monday")<br />
                <label class="text-light">Tuesday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "Tuesday")<br />
                <label class="text-light">Wednesday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "Wednesday")<br />
                <label class="text-light">Thursday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "Thursday")<br />
                <label class="text-light">Friday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "Friday")<br />
                <label class="text-light">Saturday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "Saturday")<br />
                <label class="text-light">Sunday</label>
                @Html.RadioButtonFor(x => x.WeeklyPickUpDay, "Sunday")
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-primary btn-lg bg-danger text-light CustomerButton" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
