@model TrashCollector.Models.PickUpsViewModel

@{
    ViewBag.Title = "ConfirmWeeklyPickup";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2 class="text-light textGeogia">Confirm this Pickup?</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt class="bg-dark text-light rounded col-md-1">
                @Html.DisplayNameFor(model => model.cust.Street)
            </dt>
            <dd class="text-light">
                @Html.DisplayFor(model => model.cust.Street)
            </dd>

            <dt class="bg-dark text-light rounded col-md-1">
                @Html.DisplayNameFor(model => model.weeklypickup.Date)
            </dt>

            <dd class="text-light">
                @Html.DisplayFor(model => model.weeklypickup.Date)
            </dd>
        </dl>
    </div>


    <div class="form-actions no-color">
        <input type="submit" value="Confirm" class="btn btn-outline-light bg-danger text-light CustomerButton" /> |
        @Html.ActionLink("Cancel", "Index")
    </div>
}
