@model TrashCollector.Models.EmployeeCustomerAccountsViewModel

@{
    ViewBag.Title = "CustomerAccounts";
}
@using (Html.BeginForm())
{
   
    <h2>CustomerAccounts</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-6 table-responsive">

                <table class="table table-hover col-md-6">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayName("First Name")
                            </th>
                            <th>
                                @Html.DisplayName("Last Name")
                            </th>
                            <th>
                                @Html.DisplayName("Email")
                            </th>
                            <th>
                                @Html.DisplayName("Phone")
                            </th>
                            <th>
                                @Html.DisplayName("Street")
                            </th>
                            <th>
                                @Html.DisplayName("City")
                            </th>
                            <th>
                                @Html.DisplayName("State")
                            </th>
                            <th>
                                @Html.DisplayName("Zip")
                            </th>

                            <th></th>
                        </tr>
                    </thead>

                  
                        @for (int i = 0; i < Model.CustViewModel.customers.Count(); i++)
                        {
                            var item = Model.CustViewModel.customers[i];
                            <tr class="addmarker" id=@i.ToString() data-lat="@item.lat" data-long="@item.lng">
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Street)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Zip)
                                </td>

                            </tr>
                        


                    }
                </table>
                <hr />
                <label>
                    Filter Results
                </label>
                <div class="form-group">
                    <div class="col-md-6">
                        <form action="/Employees/CustomerAccounts" method="post">
                            <table class="table table-hover col-md-6">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                        <th scope="col">Sunday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="days" value="Monday" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="days" value="Tuesday" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="days" value="Wednesday" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="days" value="Thursday" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="days" value="Friday" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="days" value="Saturday" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="days" value="Sunday" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <input type="submit" name="submit" value="Filter" /><br>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                
                <style>
                                 /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
                                 #map {
                                     height: 100%;
                                 }
                                 /* Optional: Makes the sample page fill the window. */
                                 html, body {
                                     height: 100%;
                                     margin: 0;
                                     padding: 0;
                                 }
                </style>
                    <div id="map"></div>
                    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
                    <script >
                        var map;
                        var markers = []
                       
                        function initMap() {

                            var uluru = { lat: @Model.emp.lat, lng: @Model.emp.lng };
                            map = new google.maps.Map(
                                document.getElementById('map'), { zoom: 11, center: uluru });
                            markers = []; 
                            var classname = document.getElementsByClassName("addmarker");
                            for (var i = 0; i < classname.length; i++) {
                                google.maps.event.addDomListener(document.getElementById(i.toString()), 'click', function (evt) {
                                    console.log(markers);
                                    for (var x = 0; x < markers.length; x++)
                                    {
                                        markers[x].setMap(null);
                                    }
                                    map.markers = [];
                                    var lats = parseFloat(this.dataset.lat);
                                    var long = parseFloat(this.dataset.long);
                                    console.log(lats);
                                    console.log(long);
                                    var coords = { lat: lats, lng: long };
                                    var marker2 = new google.maps.Marker({
                                        position: coords,
                                        map: map
                                    });
                                    markers.push(marker2);                             });
                            }
                          
                        }
 
                        initMap();
                    </script>
                    <script src=@Model.CustViewModel.srcKey async defer></script>
            </div>
        </div>

    </div>
        }

