
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
        @{
            if (User.IsInRole("Customer"))
            {
                <div class="container text-light">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        </button>
                        @Html.ActionLink("Trash Collector", "Index", "Customer", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item pr-3">@Html.ActionLink("Profile", "Index", "Customers", null, new {@class="text-light" })</li>
                            <li class="nav-item">@Html.ActionLink("Special Pickups", "Create", null, new { @class = "text-light" })</li>
                        </ul>
                        <span>
                        @Html.Partial("_LoginPartial")
                        </span>
                    </div>
                </div>
            }
            else if (User.IsInRole("Employee"))
            {
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                        @Html.ActionLink("Trash Collector", "Index", "Employees", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item pr-3">@Html.ActionLink("Profile", "Index", "Employees", null, new { @class = "text-light" })</li>
                            <li class="nav-item">@Html.ActionLink("Special Pickups", "Create", null, new { @class = "text-light" })</li>
                        </ul>
                        <span>
                            @Html.Partial("_LoginPartial")
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                        @Html.ActionLink("Trash Collector", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav  mr-auto">
                            <li class="nav-item pr-3">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "text-light" })</li>
                            <li class="nav-item pr-3">@Html.ActionLink("About", "About", "Home", null, new { @class = "text-light" })</li>
                            <li class="nav-item pr-3">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "text-light" })</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            }
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
