
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark navbar-fixed-top">
        @{
            if (User.IsInRole("Customer"))
            {
                <div class="container text-light">
                    <div class="navbar-header NavButtons">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        </button>
                        @Html.ActionLink("Global Collect", "Index", "Customers", new { area = "" }, new { @class = "text-light pr-4" })
                    </div>
                    <div class="navbar-collapse collapse NavButtons" id="navbarSupportedContent">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item pr-3">@Html.ActionLink("Profile", "Index", "Customers", null, new {@class="text-light" })</li>
                        </ul>
                        <span>
                        @Html.Partial("_LoginPartial")
                        </span>
                    </div>
                </div>
            }
            else if (User.IsInRole("Employee"))
            {
                <div class="container">
                    <div class="navbar-header EmployeeNavButtons">                        
                        <button type="button" class="navbar-toggler EmployeeNavButtons" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                        @Html.ActionLink("Global Collect", "Index", "Employees", new { area = "" }, new { @class = "text-light pr-4 EmployeeNavButtons" })
                    </div>
                    <div class="navbar-collapse collapse EmployeeNavButtons" id="navbarSupportedContent">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item pr-3">@Html.ActionLink("Pickup", "Index", "Employees", null, new { @class = "text-light" })</li>
                            <li class="nav-item">@Html.ActionLink("Customer Accounts", "CustomerAccounts", "Employees", null, new { @class = "text-light" })</li>
                        </ul>
                        <span>
                            @Html.Partial("_LoginPartial")
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="container">
                    <div class="navbar-header NavButtons">

                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                    </div>
                    <div class="navbar-collapse collapse NavButtons" id="navbarSupportedContent">
                        <ul class="nav navbar-nav  mr-auto list-inline">
                            <li class="nav-item pr-3">@Html.ActionLink("Global Collect", "Index", "Home", null, new { @class = "text-light" })</li>
    
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            }
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="text-light"/>
        <footer class="text-light">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
